# Auto detect text files and perform LF normalization
* text=auto

*.js     text eol=lf
*.jsx    text eol=lf
*.json   text eol=lf
*.html   text eol=lf
*.md     text eol=lf
*.yml    text eol=lf
*.css    text eol=lf
*.less   text eol=lf
*.scss   text eol=lf
*.sass   text eol=lf
*.svg    text eol=lf
*.xml    text eol=lf
*.sh     text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain
